
html,  body {
    box-sizing: border-box;
    background: #dddfe2;
    color: #1d2129;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    display: block;
    text-align: center;
    padding: 0.5% 11px;
    background: #4267b2;
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    line-height: 41px;
  }
  



#krissma {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 29px;
    cursor: pointer;
    float: center;
    margin-bottom: 1px;

}

.krasmiro {

    font: 1em sans-serif;
    padding: 11px;


    }
    

    form{
        border-color: rgba(0, 0, 0, .07) rgba(0, 0, 0, .11) rgba(0, 0, 0, .18);
        border-radius: 4px;
        border: 1px solid #dddfe2;
        padding: 15px; 
        width: 94%;
        margin-left: -4px;
        resize: both;
        overflow: auto;
        background-color: #ffffff;
        border-bottom: none;
        resize: none;

    }

  

    form #qulo {
        
        border-bottom: 0.42mm inset #e7e2e2b7;
        width: 96%;
        height:23px;   
       
   
        color: #4b4f56;
        outline: 0px solid rgb(192, 192, 192);
        box-shadow: none;
        padding-bottom: 6px;
        margin: 3.5px 9px 3.5px 0;
        float: left;
        font-size: 13.7px;
        text-align: left;
        font-family: Helvetica, Arial, sans-serif;
    }

    #cicaj210 {
        font-size: 14px;
    line-height: 18px;

        outline: 0px solid rgb(192, 192, 192);
        box-shadow: none;
        padding-bottom: 6px;
        margin: 4px 9px 4px 0;
        float: left;
        
        text-align: left;
        font-family: Helvetica, Arial, sans-serif;
    }

    form #citi222 {
        border: 1.3px solid #4e4e4e65;
        
        line-height: 11px;
        color: #2e2f30;
        outline: 0px solid rgb(192, 192, 192);
        box-shadow: none;
        padding-bottom: 6px;
        margin: 4px 9px 8px 0;
        float: left;
        font-size: 12.7px;
        text-align: left;
        font-family: Helvetica, Arial, sans-serif;
    }

    input[type=text] {
        -webkit-appearance: none;
        border-radius: 0;
        border: 1px solid #0f0f0f54;
        float: left;
        padding: 4px 7px 5px;
        margin: 1px 0;
        box-sizing: border-box;
        }
        
        input[type=submit] {
            float: center;
            text-align: center;
            box-shadow:inset 0px 1px 0px 0px #4268b2;
            background:linear-gradient(to bottom, #4268b2 5%, #4268b2 100%);
            background-color:#4268b2;
            border:1px solid #4268b2;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            width: 96.57%;
            font-family: Helvetica, Arial, sans-serif;
            font-size:14.3px;
            font-weight:bold;
            margin-top: -15px;
            margin-left: 6px;
            padding:10px 00.0%;
            border-color: #4267b2;
            border-radius: 3px;
            text-decoration:none;
            }

            .qugroma202 {
                
                background-color: rgb(255, 255, 255);
                width: 96%;
                padding:8px 00.0%;
                margin-left: 6px;
                float: center;
               
                text-align: center;
             
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
                white-space: nowrap;
                font-size: 12.4px;
                color: #385898;
                margin: 0 auto;
            }
			